<nav class="navBar">
    <button class="openButton">
        <i class="material-icons icon">menu</i>
    </button>
    <div class="navContainer closed">
        <button class="closeButton">
            <i class="material-icons icon">close</i>
        </button>
        <!-- <div class="image-container">
            <img class="logo" src="../assets/exampleLogo.png" alt="Company Name">
        </div> -->
        <div class="welcome-message">
            <p id="userWelcomeMsg"></p>
        </div>
        <div class="links">
            <ul>
                <li><a href="/">Calendar</a></li>
                <li id="new-event-btn"><a href="/create">New Event</a></li>
                <li><a href="/my-tasks" id="tasks-link">My Tasks</a></li>
                <li id="prayer-wall-btn"><a href="/prayer-wall">Prayer Wall</a></li>
                <li><a href="/helpdesk">Helpdesk</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <!-- <li><a href="/"><i class='fab fa-facebook-square'></i></a></li>
                <li><a href="/"><i class='fab fa-instagram'></i></a></li> -->
                <!-- <li><a href="https://github.com/jblackman42/event-planner"><i class='fab fa-github-square'></i></a></li>` -->
                <li class='toggle-switch'>
                    <label class="switch" onclick="toggleColorScheme()">
                        <input type="checkbox" id="toggle-color-scheme">
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    const newEventUserGroupID = 48;
    const prayerWallUserGroupID = 49;

    const userWelcomeMsg = document.getElementById('userWelcomeMsg');

    const openButtonDOM = document.querySelector('.openButton');
    const closeButtonDOM = document.querySelector('.closeButton');
    const toggleColorSchemeBtn = document.querySelector('#toggle-color-scheme');

    const navContainerDOM = document.querySelector('.navContainer');

    const newEventBtn = document.querySelector('#new-event-btn');
    const prayerWallBtn = document.querySelector('#prayer-wall-btn')

    openButtonDOM.addEventListener('click', () => {
        navContainerDOM.classList.toggle('open');
        navContainerDOM.classList.toggle('closed');
    })

    closeButtonDOM.addEventListener('click', () => {
        navContainerDOM.classList.toggle('open');
        navContainerDOM.classList.toggle('closed');
    })

    const getUserTasks = async () => {
        const user = await getUser();
        const userTaskData = await axios({
            method: 'get',
            url: `/api/mp/user-tasks?userID=${user.userid}`
        })
            .then(response => response.data)

        return userTaskData
    }

    const checkDuplicates = (arr1, arr2) => [...new Set(arr1.concat(arr2))].length != arr1.concat(arr2).length;

    const welcomeMsg = async () => {
        const user = await getUser()

        userWelcomeMsg.innerHTML = `Welcome, ${user.display_name.split(', ').reverse().join(' ')}`;
    }
    welcomeMsg();

    const tasksLink = document.getElementById('tasks-link')
    const getTasks = async () => {
        const user = await getUser();
        const { userid } = user;

        const tasks = await getUserTasks(userid)
        
        if (!tasks.length) { return }
        
        const tasksNotification = document.createElement('p');
        tasksNotification.id = 'tasks-notification';
        tasksNotification.innerText = tasks.length;

        tasksLink.appendChild(tasksNotification)
    }
    getTasks();

    axios({
        method: 'get',
        url: '/api/oauth/user'
    })
        .then(response => response.data)
        .then(user => {
            const { roles, user_groups } = user;
            if (roles && roles.includes('Administrators')) {
                const linksDOM = document.querySelector('.links');
                const linksListDOM = linksDOM.children[0];
                for (const linkElem of linksListDOM.children) {
                    linkElem.style.display = 'block';
                    linkElem.style.visibility = 'visible';
                }
            }

            if (user_groups.length && user_groups.includes(newEventUserGroupID)) {
                const newEventBtn = document.getElementById('new-event-btn');
                newEventBtn.style.display = 'block';
                newEventBtn.style.visibility = 'visible';
            }
            if (user_groups.length && user_groups.includes(prayerWallUserGroupID)) {
                const prayerWallBtn = document.getElementById('prayer-wall-btn');
                prayerWallBtn.style.display = 'block';
                prayerWallBtn.style.visibility = 'visible';
            }
        })

    if (localStorage.getItem('colorScheme') == 'dark') {
        toggleColorSchemeBtn.checked = true;
    }

    toggleColorSchemeBtn.addEventListener('change', () => {
        toggleColorScheme();
    })

    const root = document.querySelector(':root');

    const updateColorScheme = () => {
        var colorScheme = localStorage.getItem('colorScheme');
        if (colorScheme == 'light') {
            root.style.setProperty('--backgroundColor', '#e0dcdc');
            root.style.setProperty('--primary-font-color', '#17161d');
            root.style.setProperty('--secondary-font-color', '#f1f2f6');
            root.style.setProperty('--primary-bg-color', '#cdc3c3');
            root.style.setProperty('--secondary-bg-color', '#9f9696');
            root.style.setProperty('--red-accent-color', '#e74c3c');
            root.style.setProperty('--blue-accent-color', '#3498db');
            root.style.setProperty('--blue-accent-color2', '#2980b9');
            root.style.setProperty('--arrow-button-color', '#b2bec3');
        } else if (colorScheme == 'dark') {
            root.style.setProperty('--backgroundColor', 'hsl(200, 4%, 14%)');
            root.style.setProperty('--primary-font-color', '#f1f2f6');
            root.style.setProperty('--secondary-font-color', '#17161d');
            root.style.setProperty('--primary-bg-color', 'hsl(0, 1%, 21%)');
            root.style.setProperty('--secondary-bg-color', 'hsl(0, 1%, 36%)');
            root.style.setProperty('--red-accent-color', '#e74c3c');
            root.style.setProperty('--blue-accent-color', '#3498db');
            root.style.setProperty('--blue-accent-color2', '#2980b9');
            root.style.setProperty('--arrow-button-color', 'gray');
        } else {
            localStorage.setItem('colorScheme', 'light');
            updateColorScheme();
        }
    }
    updateColorScheme();

    const toggleColorScheme = () => {
        var colorScheme = localStorage.getItem('colorScheme');  

        if (colorScheme == 'light') {
            localStorage.setItem('colorScheme', 'dark');
        } else {
            localStorage.setItem('colorScheme', 'light');
        }
        updateColorScheme();
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>